* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  color: black;
}

main {
  text-align: center;
  color: hsl(233, 8%, 62%);
  background-color: hsl(0, 0%, 98%);
  line-height: 2rem;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2 {
  font-size: 3rem;
  margin: 1em 0;
  line-height: 3rem;
}

.footer--invite a, .easyBank--header a, .easyBank--nav--invite {
  display: inline-block;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 40px;
  margin: 1em 0;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.hide {
  display: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.easyBank--nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.easyBank--nav .large--screen--nav {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}
.easyBank--nav--head {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.easyBank--nav--links li {
  list-style-type: none;
}
.easyBank--nav--invite {
  margin: 0;
}
.easyBank--nav--invite a {
  color: #FFFFFF;
}

.easyBank--header {
  background-color: white;
  text-align: right;
}
.easyBank--header img {
  object-position: 90px -70px;
  width: 400px;
  height: 400px;
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.easyBank--header--content {
  text-align: center;
  padding: 2rem;
}

.easyBank--services {
  padding: 2rem;
}
.easyBank--services section {
  margin: 2rem 0;
}
.easyBank--services--list {
  text-align: left;
}

.easyBank--articles {
  text-align: left;
  padding: 2rem;
}
.easyBank--articles h2 {
  text-align: center;
}
.easyBank--articles figcaption,
.easyBank--articles h4,
.easyBank--articles p {
  padding: 0 1rem;
}
.easyBank--articles a {
  font-size: 1.5rem;
}
.easyBank--articles article {
  background-color: white;
  margin: 2rem 0;
  border-radius: 10px;
}

.footer {
  background-color: black;
  color: white;
  padding: 2rem;
  text-align: center;
}
.footer--socials a > img {
  display: inline;
}
.footer--socials--links {
  margin: 1rem 0;
}
.footer--socials--links a > img {
  margin: 0 1rem;
}
.footer a {
  color: white;
}
.footer--info a, .footer--policy a {
  display: block;
  margin: 1.5rem 0;
}
@media screen and (max-width: 767Px) {
  .easyBank--nav .mobile--nav {
    position: absolute;
    top: 120px;
    left: 10px;
    right: 30px;
    text-align: center;
    background-color: #FFFFFF;
    padding: 2rem 7rem;
    border-radius: 5px;
    font-size: 1.2rem;
    z-index: 1000;
  }
  .easyBank--nav .mobile--nav li {
    margin-bottom: 1rem;
  }
  .easyBank--nav .large--screen--nav {
    display: none;
  }
  .easyBank--nav--invite {
    display: none;
  }
  .easyBank--header img {
    display: inline-block;
  }
  .easyBank--header--content {
    margin-top: -8rem;
  }
  .easyBank--services--list {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .easyBank--nav .mobile--nav {
    display: none;
  }
  .easyBank--nav--head--toggle {
    display: none;
  }
  .easyBank--nav--invite {
    display: block;
  }
  .easyBank--header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .easyBank--header img {
    background-image: url(/images/bg-intro-desktop.svg);
  }
  .easyBank--header--content {
    text-align: left;
    width: 40%;
    align-self: center;
  }
  .easyBank--services--header {
    text-align: left;
    width: 40vw;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  .easyBank--services--list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 6rem;
  }
}
@media screen and (max-width: 899px) {
  .easyBank--articles--lists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 2rem;
  }
}
@media screen and (min-width: 900px) {
  .easyBank--articles--lists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    column-gap: 2rem;
  }
}